---
import SizeSwitch from './SizeSwitch.astro';
---
<header class="masthead">
  <div class="masthead-inner">
    <span class="masthead-brand">Glossa<span class="wm-dot">.</span></span>
    <span class="masthead-meta">
      <SizeSwitch />
    </span>
  </div>
</header>
